[Bb]in/
[Oo]bj/
.vs/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates
*.csproj.user
*.DotSettings.user
TestResults/
MyFirstBAMod/*.log
MyFirstBAMod/*diag.log
MyFirstBAMod/Directory.Build.props

# Unity generated
BAModTemplate/[Ll]ibrary/
BAModTemplate/[Tt]emp/
BAModTemplate/[Oo]bj/
BAModTemplate/[Bb]uild/
BAModTemplate/[Bb]uilds/
BAModTemplate/[Ll]ogs/
BAModTemplate/[Uu]ser[Ss]ettings/
BAModTemplate/[Mm]emoryCaptures/
BAModTemplate/[Rr]ecordings/
BAModTemplate/*.csproj
BAModTemplate/*.unityproj
BAModTemplate/*.sln
BAModTemplate/*.suo
BAModTemplate/*.tmp
BAModTemplate/*.user
BAModTemplate/*.userprefs
BAModTemplate/*.pidb
BAModTemplate/*.booproj
BAModTemplate/*.svd
BAModTemplate/*.pdb
BAModTemplate/*.mdb
BAModTemplate/*.opendb
BAModTemplate/*.VC.db